.category {
    padding: 25px 0;
}

.category__title {
    margin-bottom: 15px;
}

.category__more {
    margin-top: 15px;
}

.category__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.category__content {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.category__content img {
    background: #333333;
    width: 100%;
    max-width: 350px;
    min-width: 250px;
    padding: 20px;
    border-radius: var(--border-radius);
}




.driver-page-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    font-family: var(--font-family);
    color: var(--text-color);
}

.driver-page-table thead {
    background-color: var(--primary-color);
    color: #fff;
}

.driver-page-table thead th {
    padding: 12px 15px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.driver-page-table tbody tr {
    border-bottom: 1px solid var(--secondary-color);
    transition: background-color 0.3s ease;
}

.driver-page__edit {
    margin-bottom: 10px;
}

.driver-page-table td {
    padding: 12px 15px;
    vertical-align: top;
}

.driver-page-table td:first-child {
    width: 25%;
    font-weight: bold;
    color: var(--primary-color);
}

.driver-page-table td p {
    margin: 8px 0 0;
    font-size: 14px;
    color: var(--text-light);
}

.driver-page-table td b {
    font-size: 16px;
    color: var(--text-color);
}

.driver-page-table tbody tr:last-child td {
    border-bottom: none;
}

.driver-page-table tbody td[colspan="2"] {
    text-align: center;
    font-style: italic;
    color: var(--text-light);
    padding: 20px 15px;
}

/* Адаптивность */
@media (max-width: 768px) {
    .driver-page-table {
        font-size: 14px;
    }

    .driver-page-table thead {
        display: none;
    }

    .driver-page-table tbody tr {
        display: block;
        margin-bottom: 20px;
    }

    .driver-page-table td {
        display: block;
        text-align: right;
        position: relative;
        padding-left: 50%;
        font-size: 14px;
        border-bottom: none;
    }

    .driver-page-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        width: calc(50% - 20px);
        font-weight: bold;
        text-align: left;
        color: var(--text-color);
    }

    .driver-page-table td:first-child::before {
        content: "Дата и время";
    }

    .driver-page-table td:nth-child(2)::before {
        content: "Мастер-класс и участники";
    }
}