.header {
    display: flex;
    padding: 5px 0;
}

.header .header__items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-between;
    align-items: center;
}

.header .header__items .auth {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
}

.footer {
    width: 100%;
    padding: 15px 15px;
    background: var(--accent-color);
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}